repos:
  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v2.3.0
      hooks:
      -   id: check-yaml
      -   id: end-of-file-fixer
      -   id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 24.4.0
    hooks:
    - id: black
  - repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
      - id: isort
        args: ["--profile", "black"] # fix conflict of black and isort
  # - repo: https://github.com/pre-commit/pre-commit-hooks
  #   rev: v1.2.3
  #   hooks:
  #     - id: flake8
  #       args: ["--max-line-length=88"]
