# conda install -c conda-forge poppler
# binary: libreoffice
git+https://github.com/Force1ess/python-pptx
jinja2
openai
aiohttp
func_argparse
jsonlines
tenacity
transformers
FlagEmbedding
peft
oaib
json_repair
timm
einops
vllm
pillow
googlesearch-python
socksio
numpy
rich
sentencepiece
lxml
pytorch_fid
pdf2image
PyPDF2