beautifulsoup4
einops
evaluate
FlagEmbedding
func_argparse
git+https://github.com/Force1ess/python-pptx
jinja2
json_repair
jsonlines
lxml
markdown
marker-pdf==1.1.0
numpy
oaib
openai
pandas
pdf2image
peft
pillow
PyPDF2
python-Levenshtein
python-multipart
rich
sentencepiece
socksio
tenacity
timm
transformers
